/*!
 * Copyright (c) 2021 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@import '~eclipsefdn-solstice-assets/less/quicksilver/styles.less';
@import '_variables.less';

@font-face {
  font-family: "PlusJakartaSans-Regular";
  src: url("fonts/PlusJakartaSans/PlusJakartaSans-Regular.woff2") format("woff2"),
       url("fonts/PlusJakartaSans/PlusJakartaSans-Regular.woff") format("woff"),
       url("fonts/PlusJakartaSans/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; 
}

.toolbar-container-wrapper, .navbar-wrapper {
  position: relative;
  z-index: 4;
}

@media (max-width: @screen-sm-max) {
  .toolbar-row {
    text-align: center;
  }
}

#navbar-main-menu {
  float:none;
  .navbar-nav {
    @media (min-width: @screen-sm-min) {
      width:606px;
      float:none;
      margin:0 auto;
    }
  }
}

@media (min-width: @screen-sm-min) {
  #main-menu li > a:hover {
    text-decoration: none;
  }
  #main-menu a {
    font-weight: 700;
  }
}

.featured-jumbotron-home {
  background: #0F0026;
  background-image: none;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color:@off-white;
    bottom: -50px;
    border-radius: 1000px;
    margin: 0 auto;
    right: 0;
    left: 0;
    @media (min-width: @screen-sm-min) {
      width: 500px;
      height: 500px;
      bottom: -100px;
    }
  }
  &:after {
    background-image: url(images/shapes.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    right: 0;
    z-index: 2;
    @media (min-width: @screen-sm-min) {
      width: 500px;
      height: 500px;
    }
  }
}

.jumbotron-circle {
  padding: 100px 40px 35px;
  text-align: center;
  z-index: 1;
  width: 360px;
  margin: 0 auto;
  h1 {
    position: relative;
    z-index: 3;
    color: #4c4d4e;
    font-size: 22px;
    &:after {
      display: none;
    }
    @media (min-width: @screen-sm-min) {
      font-size: 30px;
    }
  }
  @media (min-width: @screen-sm-min) {
    padding: 180px 80px 50px;
    width: 500px;
  }
}

.about-us-container, 
.working-group-container,
.initiating-members-container,
.join-us-container {
  padding: 60px 0 80px;
}

.about-us-container{
  background-color: @off-white;
  @media (max-width: @screen-sm-max) {
    text-align: center;
  }
}

.about-us-icons {
  li {
    margin: 30px 10px 0;
    width:85px;
    @media (min-width: @screen-sm-min) {
      width:100px;
      margin: 30px 70px 0;
    }
    @media (min-width: @screen-md-min) {
      width:175px;
    }
  }
  .about-us-icon-1 img {
    width:85px;
    @media (min-width: @screen-sm-min) {
      width:100px;
    }
    @media (min-width: @screen-md-min) {
      width:175px;
    }
  }
  .about-us-icon-2 img {
    width:70px;
    @media (min-width: @screen-sm-min) {
      width:90px;
    }
    @media (min-width: @screen-md-min) {
      width:150px;
    }
  }
  .about-us-icon-3 img {
    width:35px;
    @media (min-width: @screen-sm-min) {
      width:45px;
    }
    @media (min-width: @screen-md-min) {
      width:75px;
    }
  }
}

.initiating-members-container {
  background-color: @brand-secondary;
  h2 {
    color: @white;
  }
}

.initiating-members-logos {
  margin:30px 0 0;
  li {
    padding:0 10px;
    margin-bottom: 20px;
    @media (min-width: @screen-sm-min) {
      padding:0 20px;
    }
  }
  .circle {
    background-color: @white;
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 300px;
    padding: 12px;
  }
}

.working-group-container {
  background-image: @working-group-container-bg-img;
}

.join-us-container {
  padding: 60px 0;
  .join-us-content {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

.btn {
  border-radius: 20px;
  padding: 8px 40px;
}

@media screen and (min-width: 768px) {
  .event-timeline .timeline-item:before {
    right: -17%;
  }
  .event-timeline .timeline-item:nth-of-type(2n):before {
    left: -17%;
  }
}
 
.featured-footer {
  margin-top: 30px;
}

.featured-testimonials {
  padding:70px 0 50px;
  .testimonial-item {
    padding: 0;
    display: block;
    .author .job-title {
      color: darken(@brand-primary, 15%);
    }
    .content {
      font-size: 20px;
      @media screen and (min-width: 768px) {
        &:before, &:after {
          top:35px;
          font-size: 200px;
        }
      }
    }
  }
}

.featured-twitter-share {
  padding: 0px 0 15px;
  text-align: right;
  font-size: 12px;
  .fa {
    font-size: 30px;
    color: #1DA1F2;
    top: 4px;
    position: relative;
  }
  a:hover {
    color: darken(white, 15%);
  }
}